body{
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Registration{
  background-color: #EAECEF;
  width: 100vw;
  padding: 10px;
  overflow-x: hidden;

}
.Registration h1{
  color: #48338C;
  padding: 20px;
  font-weight: bolder;
  font-size: xx-large;
}

.img-{
  margin-bottom: 40px;
}
.Registration-section{
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
gap: 20px;
padding-top: 20px;
width: 100vw;

}
.Registration-steps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: x-large;
}
.Registration-steps img{
  border-radius: 100%;
  width: 40%;
  height: 40%;
}

.Footer{
  padding: 10px;
  width: 100vw;
  height: 30vh;
  background-color: #48338C;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.Footer-section{
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  align-items: center;
  gap: 10px;

}
.Footer-section a{
  color: white !important;
  text-decoration: none;

}

.Footer-icon-section{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  gap: 4px;
}

.Footer-icon{
  height: 50%;
  width: 50%;
  height: 50%;
  gap: 4px;
}
/* #icon-D{
  height: 50%;
  width: 50%;
} */

.Fotter-section2{
  background-color: #48338C;
  color: white;
  padding: 10px;
  font-weight: lighter;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.nav{
direction: rtl;
width: 100vw;
background-color: #48338C !important;
gap: 10px;
}
.nav-link{
  color: white !important;
}
#navbarNav{
justify-content: space-between;
}